<div class="page-header">
  <h1>Create New Account</h1>
</div>

<div><%= devise_error_messages! %></div>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :nickname %><br />
  <%= f.text_field :nickname %></div>

  <div><%= f.label :person1 %><br />
  <%= f.text_field :person1 %></div>

  <div><%= f.label :person2 %><br />
  <%= f.text_field :person2 %></div>

  <div><%= f.label :person1_email %><br />
  <%= f.email_field :person1_email %></div>

  <div><%= f.label :person2_email %><br />
  <%= f.email_field :person2_email %></div>

  <div><%= f.label :person1_picture %><br />
  <%= f.text_field :person1_picture %></div>

  <div><%= f.label :person2_picture %><br />
  <%= f.text_field :person2_picture %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
