<div class="page-header">
  <h1> <%= @task.title %> </h1>
</div>

<div class = "row">
  <div class = "col-lg-6">
    <div class = "panel panel-default">
      <div class = "panel-heading">
        <h3>Task Details</h3>
      </div>
      <div class = "panel-body">
        <p><b>Task title:</b> <%= @task.title %></p>
        <p><b>Due date:</b> <%= @task.due_date %></p>
        <p><b>Description:</b> <%= @task.description %></p>
        <p><b>Category:</b> <%= @task.category.name %></p>
        <p><b>Assigned to:</b>
          <% if @task.person1? == true %>
              <%= current_account.person1 %>
              <% else %>
              <% end %>
          <% if @task.person2? == true %>
               and <%= current_account.person2 %>
              <% else %>
              <% end %></p>

        </p>
        <p><b>Complete?</b> <%= @task.complete?%></p>
      </div>
    </div>
  </div>
</div>
<div class = "row">
  <div class = "col-lg-6">
    <div class ="col-lg-4">
      <%= link_to "Back to tasks", tasks_url%>
    </div>
    <div class = "col-lg-4">
      <%= link_to "Edit task".html_safe, edit_task_url(@task)%>
    </div>
    <div class = "col-lg-4">
      <%= link_to "Delete task".html_safe, task_url(@task), method: 'delete', data: { confirm: "Do you really want to delete this task?" }%>
    </div>
  </div>
</div>

