<div class="page-header">
  <h1>Editing Event #<%= @event.id %></h1>
</div>

<%= form_tag(event_url(@event), method: 'patch', class: 'form-horizontal') do %>
  <div class="form-group">
    <%= label_tag :title, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :title, @event.title, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :start_time, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :start_time, @event.start_time, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :end_time, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :end_time, @event.end_time, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :account_id, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= number_field_tag :account_id, @event.account_id, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :description, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_area_tag :description, @event.description, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :location, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_area_tag :location, @event.location, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :category_id, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= number_field_tag :category_id, @event.category_id, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :person1, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= check_box_tag :person1, 1, @event.person1? %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :person2, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= check_box_tag :person2, 1, @event.person2? %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-6">
      <%= submit_tag "Update Event", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
