<div class="page-header">
  <h1>Events</h1>
</div>

<p><%= link_to 'Add a New Event', new_event_url, class: 'btn btn-primary' %></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Account</th>
      <th>Description</th>
      <th>Location</th>
      <th>Category</th>
      <th>Person1</th>
      <th>Person2</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.title %></td>
        <td><%= event.start_time %></td>
        <td><%= event.end_time %></td>
        <td><%= event.account_id %></td>
        <td><%= event.description %></td>
        <td><%= event.location %></td>
        <td><%= event.category_id %></td>
        <td><%= event.person1? %></td>
        <td><%= event.person2? %></td>
        <td><%= link_to '<i class="fa fa-search-plus"></i>'.html_safe, event_url(event), class: 'btn btn-primary' %></td>
        <td><%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_event_url(event), class: 'btn btn-warning' %></td>
        <td><%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, event_url(event), method: 'delete', data: { confirm: "Do you really want to delete this event?" }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

