<div class="page-header">
  <h1>Edit Your Account</h1>
</div>

<%= form_tag(account_url(@account), method: 'patch', class: 'form-horizontal') do %>
  <div class="form-group">
    <%= label_tag :nickname, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :nickname, @account.nickname, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :person1, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :person1, @account.person1, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :person2, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :person2, @account.person2, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :person1_email, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :person1_email, @account.person1_email, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :person2_email, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :person2_email, @account.person2_email, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :password_digest, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :password_digest, @account.password_digest, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-6">
      <%= submit_tag "Update Account", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
