<div class="page-header">
  <h1>Account #<%= @account.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Nickname</dt>
  <dd><%= @account.nickname %></dd>

  <dt>Person1</dt>
  <dd><%= @account.person1 %></dd>

  <dt>Person2</dt>
  <dd><%= @account.person2 %></dd>

  <dt>Person1 email</dt>
  <dd><%= @account.person1_email %></dd>

  <dt>Person2 email</dt>
  <dd><%= @account.person2_email %></dd>

  <dt>Password digest</dt>
  <dd><%= @account.password_digest %></dd>

</dl>
